@font-face {
  font-family: "spoidyfont";
  src: url("./spoidyfont.ttf") format("truetype");
}
@font-face {
  font-family: "spoidyfont2";
  src: url("./Spider-Man.otf") format("opentype");
}

header {
  margin: auto;
  display: flex;
  border: 0px solid red;
  justify-content: space-around;
  margin-top: 2%;
  width: 60%;
}
nav:hover {
  opacity: 0.8;
  cursor: pointer;
}
nav {
  border: 0 solid black;
  display: inline-block;
  opacity: 0.56;
  position: relative;
}

nav::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 51.5%;
  transform: translateX(-45%);
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease-in-out; /* Smooth transition for opacity */
}

nav:hover::after {
  opacity: 1; /* Make the red dot visible on hover */
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  overflow: visible;
  font-family: sans-serif;
  color: aliceblue;
  background-color: #0b1215;

  background-image: url("./spoidy.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Make sure the body takes the full height of the viewport */
  margin: 0;
  background-attachment: fixed;
}

.search {
  width: 24px;
  height: 24px;
  margin-left: 50px;
}
.search :hover {
  opacity: 1;
  cursor: pointer;
  filter: brightness(300%);
}
.logo {
  width: 57px;
  height: 50px;
  border-radius: 50%;
  margin-left: -20%; /* Adjust the margin to move the logo more to the left */
  margin-top: -16px;
  position: absolute;
  filter: invert(100%);
}

.logo:hover {
  cursor: pointer;
  filter: invert(100%) brightness(150%);
}
main {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 2fr));
  gap: 220px;
  padding: 5px;
  margin: 19%;
  position: fixed;
  margin-left: 23%;
  z-index: -1;
}
#spider {
  font-family: "spoidyfont", sans-serif;
  color: red;
  font-size: 98px;
  /* display: flex; */
  /* justify-content: center; */
  margin-left: -10px;
  text-shadow: 0 0 15px red;
  /* transition: text-shadow 0.3s ease-in-out; */
}
#man {
  font-family: "spoidyfont", sans-serif;
  color: red;
  font-size: 98px;
  /* display: flex; */
  margin-left: 85px;
  /* justify-content: center; */
  text-shadow: 0 0 12px red;
  /* transition: text-shadow 0.3s ease-in-out; */
}
/* #info{
  background-color: black;
  border: 1px solid black;
  width: 1490px;
  margin-left: 11px;
  border-radius: 6px;
  height: 65px; */
/* } */
center {
  font-family: "spoidyfont2", sans-serif;
  font-size: xx-large;
  font-weight: bolder;
  color: antiquewhite;
  text-shadow: 2px 2px 1px red;
  font-size: 50px;
  padding: 2rev;
  letter-spacing: 8px;
  text-decoration: overline underline;
  margin-top: 10px;
}
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: #413838;
  border-radius: 60px;
}

body::-webkit-scrollbar-track {
  background-color: #111;
}
.home {
  background-color: rgba(0, 0, 0, 0.9);
  width: 1460px;
  border-radius: 19px;
  height: 1500px;
  margin-top: 44%;
  margin-left: 25px;
  border: 1px solid bisque;
  position: relative;

  /* background: linear-gradient(160deg,black,black, red); */
}
.allspiderman {
  border: 0px solid #413838;
  border-radius: 30px;
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 2fr));
  gap: 20px;
  padding: 2px;
  position: relative;
  height: 5vh;
  width: 93%;
  margin-left: 3.5%;
  margin-top: 1%;
}
.b {
  border: 2px solid rgba(229, 17, 17, 0.2);
  border-radius: 30px;
  background-color: black;

  box-shadow: 5px 5px 10px rgba(229, 17, 17, 0.688);
}
.peterparker {
  border: 2px solid rgba(229, 17, 17, 0.2);
  border-radius: 30px;
  background-color: black;
  height: 58vh;
  box-shadow: 5px 5px 10px rgba(229, 17, 17, 0.688);
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#peter1 {
  height: 65%;
  width: 35%;
  left: 55%;
  top: 12%;
  object-fit: cover;
  border-radius: 10px;
  border: 2px;
  transform: scaleX(-1);
  /* position: absolute; */
  transition: ease-out 0.5s;
  border: 3px solid rgba(216, 74, 74, 0.45);
}
#peter2 {
  left: 11.5%;
  top: 12%;
  object-fit: cover;
  height: 65%;
  width: 35%;
  border-radius: 10px;
  transition: ease-out 0.5s;
  border: 3px solid rgba(216, 74, 74, 0.4);
  /* position: absolute; */
}
#peter2:hover {
  cursor: pointer;
  height: 73%;
  width: 41%;
  filter: brightness(80%);
  /* position: absolute; */
  /* border: 2px solid white; */
  transition: all ease-in-out 0.5s;
  top: 8%;
  left: 8%;
}
#peter1:hover {
  cursor: pointer;
  height: 73%;
  width: 42%;
  filter: brightness(80%);
  /* position: absolute; */
  /* border: 2px solid white; */
  transition: all ease-in-out 0.5s;
  top: 8%;
  left: 52%;
}

.gwen {
  box-shadow: 5px 5px 10px rgba(248, 57, 160, 0.8);
  background-color: black;
  border: 3px solid rgba(248, 57, 160, 0.2);
  height: 58vh;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#gwen1 {
  height: 65%;
  width: 35%;
  left: 10%;
  top: 12%;
  object-fit: cover;
  /* position: absolute; */
  border: 2px solid rgba(248, 57, 160, 0.5);
  transition: ease-out 0.5s;
  border-radius: 10px;
}
#gwen2 {
  /* position: absolute; */
  height: 65%;
  width: 35%;
  left: 55%;
  top: 12%;
  object-fit: cover;
  border: 2px solid rgba(248, 57, 160, 0.5);
  transition: ease-out 0.5s;
  border-radius: 10px;
}
#gwen1:hover {
  cursor: pointer;
  height: 73%;
  width: 41%;
  filter: brightness(80%);
  /* position: absolute; */
  /* border: 2px solid white; */
  transition: all ease-in-out 0.5s;
}
#gwen2:hover {
  cursor: pointer;
  height: 73%;
  width: 41%;
  filter: brightness(80%);
  /* position: absolute; */
  /* border: 2px solid white; */
  transition: all ease-in-out 0.5s;
 
}
#homepeter {
  font-family: "spoidyfont2", sans-serif;
  color: rgb(255, 0, 0, 0.9);
  font-size: xx-large;
  letter-spacing: 4px;
  font-weight: 500;
  text-decoration: overline;
  /* margin-left: 40%; */
  position: absolute;
  margin-top: 58%;
}

#homegwen {
  font-family: "spoidyfont2", sans-serif;
  color: rgba(248, 57, 160, 0.98);
  font-size: xx-large;
  letter-spacing: 4px;
  font-weight: 500;
  text-decoration: overline;
  /* margin-left: -100%; */
  position: absolute;
  margin-top: 58%;
}

.peni {
  display: flex;
  position: relative;
  background: black;
  box-shadow: 5px 5px 10px rgba(229, 17, 17, 0.688);
  /* border: 2px solid rgba(229, 17, 17, 0.2); */
  border-radius: 30px;
  background-color: black;
  /* box-shadow: 5px 5px 10px rgba(241, 23, 37, 0.8); */
  height: 58vh;
  justify-content: space-evenly;
  align-items: center;
  /* gap: 30px; */
  /* padding: 0px 10px 0px 10px; */
  border-bottom: 3px solid rgba(229, 17, 17, 0.2);
  border-right: 3px solid rgba(229, 17, 17, 0.2);
  border-top: 3px solid rgba(219, 57, 248, 0.2);
  border-left: 3px solid rgba(219, 57, 248, 0.2);
 
}

#peni1 {
  height: 65%;
  width: 35%;
  left: 10%;
  top: 12%;
  object-fit: cover;
  /* position: absolute; */
  border-bottom: 3px solid rgba(229, 17, 17, 0.4);
  border-right: 3px solid rgba(229, 17, 17, 0.4);
  border-top: 3px solid rgba(219, 57, 248, 0.4);
  border-left: 3px solid rgba(219, 57, 248, 0.4);
 
  border-radius: 10px;
  filter: brightness(83%);
  transition: ease-out 0.5s;

}
#peni2 {
  /* position: absolute; */
  height: 65%;
  width: 35%;
  left: 55%;
  top: 12%;
  object-fit: cover;
  border-bottom: 3px solid rgba(229, 17, 17, 0.4);
  border-right: 3px solid rgba(229, 17, 17, 0.4);
  border-top: 3px solid rgba(219, 57, 248, 0.4);
  border-left: 3px solid rgba(219, 57, 248, 0.4);
 
  border-radius: 10px;
  filter: brightness(79%);
  transition: ease-out 0.5s;

}

#peni1:hover {
  cursor: pointer;
  height: 73%;
  width: 41%;
  filter: brightness(80%);
  /* position: absolute; */
  /* border: 2px solid white; */
 
}

#peni2:hover {
  cursor: pointer;
  height: 73%;
  width: 41%;
  filter: brightness(80%);
  /* position: absolute; */
  /* border: 2px solid white; */
  transition: ease-in-out 0.5s;
 
}

#homepeni {
  font-family: "spoidyfont2", sans-serif;
  /* color: rgba(248, 57, 160, 0.98); */
  font-size: xx-large;
  letter-spacing: 4px;
  font-weight: 500;
  /* margin-left: -100%; */
  position: absolute;
  margin-top: 58%;
  background: linear-gradient(120deg, red, rgb(248, 57, 160));
  -webkit-background-clip: text; /* For older versions of Chrome */
  background-clip: text;
  color: transparent;
  text-decoration: overline;
}
#homepeni::before {
  content: "";
  position: absolute;
  top: -1px; /* Adjust the positioning to fit your design */
  left: 0;
  right: 0;
  height: 3px; /* Adjust the thickness of the overline */
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0.8), rgb(248, 57, 160));

}

.miles {
  display: flex;
  position: relative;
  background: black;
  box-shadow: 5px 5px 10px rgba(229, 17, 17, 0.688);
  border-radius: 30px;
  background-color: black;
  height: 58vh;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 3px solid rgba(229, 17, 17, 0.2);
  border-right: 3px solid rgba(229, 17, 17, 0.2);
  border-top: 3px solid rgba(248, 133, 57, 0.4);
  border-left: 3px solid rgba(248, 162, 57, 0.4);
  margin-left: 6px;
}

#miles1 {
  height: 65%;
  width: 35%;
  left: 10%;
  top: 12%;
  object-fit: cover;
  /* position: absolute; */
  border-bottom: 3px solid rgba(229, 17, 17, 0.2);
  border-right: 3px solid rgba(229, 17, 17, 0.2);
  border-top: 3px solid rgba(248, 133, 57, 0.4);
  border-left: 3px solid rgba(248, 162, 57, 0.4);
  transition: ease-out 0.5s;
  border-radius: 10px;
  filter: brightness(83%);
}

#miles2 {
  /* position: absolute; */
  height: 65%;
  width: 35%;
  left: 55%;
  top: 12%;
  object-fit: cover;
  border-bottom: 3px solid rgba(229, 17, 17, 0.3);
  border-right: 3px solid rgba(229, 17, 17, 0.3);
  border-top: 3px solid rgba(248, 133, 57, 0.6);
  border-left: 3px solid rgba(248, 162, 57, 0.6);
  border-radius: 10px;
  transition: ease-out 0.5s;
  filter: brightness(69%);

}
#miles1:hover {
  cursor: pointer;
  height: 73%;
  width: 41%;
  filter: brightness(80%);
  /* position: absolute; */
  /* border: 2px solid white; */
  transition: ease-in-out 0.5s;
  
}
#miles2:hover {
  cursor: pointer;
  height: 73%;
  width: 41%;
  filter: brightness(80%);
  /* position: absolute; */
  /* border: 2px solid white; */
  transition: ease-in-out 0.5s;
  
}

#homemiles{
  font-family: "spoidyfont2", sans-serif;
  color: rgba(255, 0, 0,0.9 );
  font-size: xx-large;
  letter-spacing: 4px;
  font-weight: 500;
  position: absolute;
  margin-top: 58%;
   background: linear-gradient(120deg, red,rgb(128, 97, 24),rgb(65, 16, 16), rgb(226, 17, 17));
  -webkit-background-clip: text; /* For older versions of Chrome */
  background-clip: text;
  color: transparent;
}

#homemiles:before {
  content: "";
  position: absolute;
  top: -1px; 
  left: 0;
  right: 0;
  height: 3px;
  background-image: linear-gradient(120deg, red,rgb(128, 97, 24),rgb(65, 16, 16), rgb(226, 17, 17));

}


.miguel {
  display: flex;
  position: relative;
  background: black;
  box-shadow: 5px 5px 10px rgba(229, 17, 17, 0.688);
  border-radius: 30px;
  background-color: black;
  height: 58vh;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 3px solid rgba(229, 17, 17, 0.2);
  border-right: 3px solid rgba(229, 17, 17, 0.2);
  border-top: 3px solid rgba(248, 133, 57, 0.4);
  border-left: 3px solid rgba(248, 162, 57, 0.4);
  margin-left: 6px;
}

#miguel1 {
  height: 65%;
  width: 35%;
  left: 10%;
  top: 12%;
  object-fit: cover;
  /* position: absolute; */
  border-bottom: 3px solid rgba(229, 17, 17, 0.2);
  border-right: 3px solid rgba(229, 17, 17, 0.2);
  border-top: 3px solid rgba(248, 133, 57, 0.4);
  border-left: 3px solid rgba(248, 162, 57, 0.4);
  transition: ease-out 0.5s;
  border-radius: 10px;
  /* filter: brightness(83%); */
}

#miguel2 {
  /* position: absolute; */
  height: 65%;
  width: 35%;
  left: 55%;
  top: 12%;
  object-fit: cover;
  border-bottom: 3px solid rgba(229, 17, 17, 0.3);
  border-right: 3px solid rgba(229, 17, 17, 0.3);
  border-top: 3px solid rgba(248, 133, 57, 0.6);
  border-left: 3px solid rgba(248, 162, 57, 0.6);
  border-radius: 10px;
  transition: ease-out 0.5s;
  filter: brightness(93%);

}

#miguel1:hover {
  cursor: pointer;
  height: 73%;
  width: 41%;
  filter: brightness(80%);
  /* position: absolute; */
  /* border: 2px solid white; */
  transition: all ease-in-out 0.5s;
  top: 8%;
  left: 8%;
}

#miguel2:hover {
  cursor: pointer;
  height: 73%;
  width: 41%;
  filter: brightness(80%);
  /* position: absolute; */
  /* border: 2px solid white; */
  transition: all ease-in-out 0.5s;
  top: 8%;
  left: 8%;
}

#homemiguel{
  font-family: "spoidyfont2", sans-serif;
  color: rgba(255, 0, 0,0.9 );
  font-size: xx-large;
  letter-spacing: 3px;
  font-weight: 500;
  position: absolute;
  margin-top: 58%;
   background: linear-gradient(60deg, rgb(57, 100, 181), rgba(255, 94, 0,0.97) );
  -webkit-background-clip: text; /* For older versions of Chrome */
  background-clip: text;
  color: transparent;

}

#homemiguel:before {
  content: "";
  position: absolute;
  top: -1px; 
  left: 0;
  right: 0;
  height: 3px;
  background-image: linear-gradient(60deg, rgb(57, 100, 181), rgba(255, 94, 0,0.97) );

}
.noir{
  display: flex;
  position: relative;
  background: black;
  box-shadow: 5px 5px 10px rgba(212, 204, 204, 0.2);
  border-radius: 30px;
  background-color: black;
  height: 58vh;
  justify-content: space-evenly;
  align-items: center;
  border-top: 3px solid rgba(247, 234, 234, 0.721);
  border-left: 3px solid rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid rgba(212, 204, 204, 0.2);
  border-right: 3px solid rgba(212, 204, 204, 0.2);
  margin-left: 6px;
}

#noir1 {
  height: 65%;
  width: 35%;
  left: 10%;
  top: 12%;
  object-fit: cover;
  /* position: absolute; */
  border-top: 3px solid rgba(247, 234, 234, 0.721);
  border-left: 3px solid rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid rgba(212, 204, 204, 0.2);
  border-right: 3px solid rgba(212, 204, 204, 0.2);
  transition: ease-out 0.5s;
  border-radius: 10px;
  /* filter: brightness(83%); */
}
#noir2 {
  height: 65%;
  width: 35%;
  left: 10%;
  top: 12%;
  object-fit: cover;
  /* position: absolute; */
  border-top: 3px solid rgba(247, 234, 234, 0.721);
  border-left: 3px solid rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid rgba(212, 204, 204, 0.2);
  border-right: 3px solid rgba(212, 204, 204, 0.2);
  transition: ease-out 0.5s;
  border-radius: 10px;
  /* filter: brightness(83%); */
}

#homenoir{
  font-family: "spoidyfont2", sans-serif;
  color: rgba(255, 0, 0,0.9 );
  font-size: xx-large;
  letter-spacing: 3px;
  font-weight: 500;
  position: absolute;
  margin-top: 58%;
   background: linear-gradient(60deg, rgba(247, 234, 234, 0.521),rgba(212, 204, 204, 0.3), rgba(212, 204, 204, 0.2));
  -webkit-background-clip: text; /* For older versions of Chrome */
  background-clip: text;
  color: transparent;

}

#homenoir:before {
  content: "";
  position: absolute;
  top: -1px; 
  left: 0;
  right: 0;
  height: 3px;
  background-image: linear-gradient(60deg,  rgba(247, 234, 234, 0.521),rgba(212, 204, 204, 0.3), rgba(212, 204, 204, 0.2));

}

#noir1:hover {
  cursor: pointer;
  height: 73%;
  width: 41%;
  filter: brightness(80%);
  /* position: absolute; */
  /* border: 2px solid white; */
  transition: all ease-in-out 0.5s;
  top: 8%;
  left: 8%;
}

#noir2:hover {
  cursor: pointer;
  height: 73%;
  width: 41%;
  filter: brightness(80%);
  /* position: absolute; */
  /* border: 2px solid white; */
  transition: all ease-in-out 0.5s;
  top: 8%;
  left: 8%;
}
.textvid{
  font-family: "spoidyfont2", sans-serif;
  font-size: xx-large;
  font-weight: bolder;
  color: antiquewhite;
  text-shadow: 2px 2px 1px red;
  font-size: 50px;
  padding: 2rev;
  letter-spacing: 8px;
  text-decoration:underline;
  margin-top: 10px;
  margin-left: 47%;
}
#video{
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.9);
  width: 1460px;
  border-radius: 19px;
  height: 2900px;
  margin-left: 25px;
  border: 1px solid bisque;
  position: absolute;
  
}

.viddimension{
  margin-top: 2%;
  height: 55vh;
  width: 41vw;
  left: 10%;
  top: 12%;
  /* object-fit: cover; */
  /* position: absolute; */
  /* border-top: 3px solid rgba(247, 234, 234, 0.721);
  border-left: 3px solid rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid rgba(212, 204, 204, 0.2);
  border-right: 3px solid rgba(212, 204, 204, 0.2); */
  border-radius: 10px;
  border: 1px solid black;
  border-radius: 20px;
}

#andrew{
  border: 0px solid rgba(89, 77, 77,1);
  border-radius: 30px;
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 2fr));
  gap: 20px;
  padding: 2px;
  position: relative;
  width: 93%;
  margin-left: 3.5%;
  margin-top: 1%;
  display: flex;
  justify-content: center;
}
.videoinfoborder{
  border: 2px solid rgba(89, 77, 77,0.6);
  border-radius: 10px;
  height: 40%;
  margin-top: 2.5%;
  margin-bottom: 2%;
  margin-right: 20px;
  color: rgb(234, 226, 226);
}

.petervidname{
  font-family: "spoidyfont", sans-serif;
  color: white;
  font-size: 40px;
  /* display: flex; */
  /* justify-content: center; */
  margin-left: -10px;
  text-shadow: 0 0 15px red;
 margin-top: 20px;
 text-align: center;
 position: relative;
  }

.petervidname::before{
  content: "";
  position: absolute;
  top: -10px;
  width: 400px; 
  left: 147px;
  right: 0;
  height: 3px;
  background-color: white;
}

#andrewpeterinfo{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
  font-size: 16px;
  text-align: justify;
  margin-left: 10%;
  margin-top: 5%;
  margin-right: 10%;
 margin-bottom: 15px;
  
}
/* ------------------ */


#tom
  {
  border: 0px solid rgba(89, 77, 77,1);
  border-radius: 30px;
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 2fr));
  gap: 20px;
  padding: 2px;
  position: relative;
  width: 93%;
  margin-left: 3.5%;
  margin-top: 1%;
  display: flex;
  justify-content: center;
}

#tompeterinfo{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
  font-size: 16px;
  text-align: justify;
  margin-left: 10%;
  margin-top: 5%;
  margin-right: 10%;
 margin-bottom: 15px;
  
}
.tom::before{
  width:240px ;
  left: 217px;

}

.tomvidinfo{
margin-left:20px ;
}


/* ---------- */
#tobey
  {
  border: 0px solid rgba(89, 77, 77,1);
  border-radius: 30px;
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 2fr));
  gap: 20px;
  padding: 2px;
  position: relative;
  width: 93%;
  margin-left: 3.5%;
  margin-top: 1%;
  display: flex;
  justify-content: center;
}

#tobeypeterinfo{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
  font-size: 16px;
  text-align: justify;
  margin-left: 10%;
  margin-top: 5%;
  margin-right: 10%;
 margin-bottom: 15px;
  
}
.tobey::before{
  width:300px ;
  left: 188px;

}

/* ----------- */
#miles
  {
  border: 0px solid rgba(89, 77, 77,1);
  border-radius: 30px;
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 2fr));
  gap: 20px;
  padding: 2px;
  position: relative;
  width: 93%;
  margin-left: 3.5%;
  margin-top: 1%;
  display: flex;
  justify-content: center;
}

#milespeterinfo{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
  font-size: 16px;
  text-align: justify;
  margin-left: 10%;
  margin-top: 5%;
  margin-right: 10%;
 margin-bottom: 15px;
  
}
.milesborder{

  margin-left: 20px;
}

  .mile::before{
    width:250px ;
    left: 183px;
  
  }

  .milesviddimension{
    margin-top: 2%;
  height: 55vh;
  width: 45vw;
  left: 10%;
  margin-top: 4%;
  border: 1px solid black;
  
  }

.spiderversevid{
    display: flex;
    justify-content: space-evenly;

}
  #spiderverse{
    font-family: "spoidyfont2", sans-serif;
   
    font-weight: bolder;
    color: rgb(250, 227, 215);
    text-shadow: 2px 1px 0px red;
    font-size: 50px;
    padding: 2rev;
    letter-spacing: 8px;
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;
  }
  #spiderverse1{
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    font-weight: 600;
    color: rgba(250, 227, 215,0.9);
    text-shadow: 0px 0px 0px red;
    font-size: 28px;
    height: 10px;
    letter-spacing: 0px;
    text-decoration:none;
    margin-top: 15px;
    text-align: center;

  } 
  .one{
    border: 1px solid rgba(250, 227, 215,0.6);
    border-radius:10px ;
  }
  .two{
margin-top: 10%;
  }

  html{
    scroll-behavior: smooth;
  }
  #intothespiderverse{
    position: absolute;
    top: 92.4%;
    margin-left: 15%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 23px;
    border-right: 2px solid rgba(250, 227, 215,0.6);
    border-left: 2px solid rgba(250, 227, 215,0.6);
    border-bottom: 2px solid rgba(250, 227, 215,0.6);
    padding: 6px;
  }
  #intothespiderverse2{
    position: absolute;
    top: 79.88%;
    margin-left: 62.88%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 23px;
    border-right: 2px solid rgba(250, 227, 215,0.6);
    border-left: 2px solid rgba(250, 227, 215,0.6);
    border-top: 2px solid rgba(250, 227, 215,0.6);
    padding: 6px;
  }

  @media (max-width: 768px) {
    header {
      width: 80%;
      flex-direction: column;
      align-items: center;
    }
    
    main, .allspiderman {
      margin: 5% 2%;
    }
  
    .b, .peterparker, .gwen, .peni, .miles, .miguel, .noir {
      height: 40vh;
    }
  
    #spider, #man {
      font-size: 60px;
      margin-left: 0;
    }
  
    center {
      font-size: 30px;
    }
  }
  
  @media (max-width: 480px) {}
    header {
      width: 100%;
    }
  
    main, .allspiderman {
      margin: 2% 1%;
    }
  
    .b, .peterparker, .gwen, .peni, .miles, .miguel, .noir {
      height: 30vh;
    }
  
    #spider, #man {
      font-size: 40px;
    }
  
    center {
      font-size: 20px;
    }
  
    .search {
      margin-left: 0;
    }
  
    .logo {
      width: 40px;
      height: 40px;
      margin-left: 0;
    }

 